# Environment variables for the Example Webservice microservice
# This corresponds to an etcd entry at /environments/example-webservice-app

##########################################################
# FILL ME IN WITH DUMMY VALUES                           #
#                                                        #
# or, better yet, use this file as your env_file for dev #
# https://docs.docker.com/compose/yml/#env_file          #
##########################################################

# Example:
NODE_ENV=production
DB_URL=mysql://foo:bar@my.database.local:3306
